@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif;
  font-size: 16px;
}

body{
  background-color: rgb(112, 200, 235);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-wrapper{
    background: white;
    border-radius: 15px;
    width: 400px;
    padding: 30px 30px;
}

.title{
    margin-bottom: 20px;
    font-size: 26px;
    color: coral;
}

.input-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-form input{
    flex: 1;
    border-radius: 15px 0 0 15px;
    background-color: rgb(231, 231, 231);
    outline:none;
    border: none;
    padding: 10px;
}

.input-form button{
    color:white;
    background-color: coral;
    border-radius: 0px 15px 15px 0;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
}

ul{
    padding: 0px 20px;
}

ul li{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    list-style: none;
    font-family: 'Lato', serif;
    font-size: 20px;
    cursor: pointer;
}

ul li::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-image: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
    left: -20px;
    top: 5px;
}

ul li.checked{
    color: rgba(184, 184, 184, 0.555);
    text-decoration: line-through;
}

li.checked::before{
    background-image: url('images/checked.png');
}

li button{
    width: 25px;
    height: 25px;
    font-size: 16px;
    background: none;
    border: none;
    border-radius: 10px;
    outline: none;
    text-align: center;
    cursor: pointer;
}